---
---
<script type="text/javascript">
  initApp = function() {
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in.
        var displayName = user.displayName;
        var email = user.email;
        var emailVerified = user.emailVerified;
        var photoURL = user.photoURL;
        var uid = user.uid;
        var phoneNumber = user.phoneNumber;
        var providerData = user.providerData;
        console.log(user.getIdToken());
        user.getIdToken().then(function(accessToken) {
            var accountDetails = JSON.stringify({
                displayName: displayName,
                email: email,
                emailVerified: emailVerified,
                phoneNumber: phoneNumber,
                photoURL: photoURL,
                uid: uid,
                accessToken: accessToken,
                providerData: providerData
            }, null, '  ');
            document.getElementById('sign-in-status').textContent = 'Signed in';
            document.getElementById('sign-in').textContent = 'Sign out';
            document.getElementById('sign-in').setAttribute("href", "/logout");
            document.getElementById('account-details').textContent = accountDetails;
            document.getElementById('account-image').setAttribute("src", JSON.parse(accountDetails).photoURL);
            document.getElementById('account-name').textContent = JSON.parse(accountDetails).providerData.uid;
            //document.getElementById("create-channel").setAttribute("onclick", "fetch(\"https://api.github.com/repos/MadeByEmil/deck/dispatches\", {\r\n              body: \"{\\\"event_type\\\": \\\"create-channel\\\", \\\"client_payload\\\": " + escape(JSON.parse(accountDetails).providerData) + "}\",\r\n              headers: {\r\n                Accept: \"application/vnd.github.everest-preview+json\",\r\n                Authorization: \"token " + escape(JSON.parse(accountDetails).accessToken) + "\",\r\n                \"Content-Type\": \"application/x-www-form-urlencoded\"\r\n              },\r\n              method: \"POST\"\r\n            });");
            document.getElementById("create-channel").setAttribute("onclick", "fetch(\"https://envxhwo2k72c3ck.m.pipedream.net\", {\r\n  body: \"{\\\"client_payload\\\": " + JSON.stringify(JSON.parse(accountDetails).providerData).replace(/\\([\s\S])|(")/g, "\\$1$2") + "}\",\r\n  headers: {\r\n    \"Content-Type\": \"application/json\"\r\n  },\r\n  method: \"POST\"\r\n})");
        });
      } else {
        // User is signed out.
        document.getElementById('sign-in-status').textContent = 'Signed out';
        document.getElementById('sign-in').textContent = 'Sign in';
        document.getElementById('sign-in').setAttribute("href", "/login");
        document.getElementById('account-details').textContent = 'null';
      }
    }, function(error) {
      console.log(error);
    });
  };

  window.addEventListener('load', function() {
    initApp();
  });
</script>
