---
---
<script>
  if(document.getElementById('sign-in-status').textContent === 'Signed out')
  {
    window.location.replace("{{ site.url }}/login");
  }
</script>
<script>
  window.setTimeout(checkChannel, 750);
  function checkChannel()
  {
    fetch('https://api.github.com/repos/MadeByEmil/deck/contents/_channels/' + JSON.parse(document.getElementById('account-details').textContent).providerData[0].uid + '.md', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    }
    })
    .then((response) => {
      if(response.ok)
      {
        console.log('Channel found:\n', response.json);
        document.getElementById('create-channel').remove();
      }
      else {
        for (i = 0; i < document.getElementsByTagName("label").length; i++) {
          document.getElementsByTagName("label")[i].remove();
        }
        for (i = 0; i < document.getElementsByTagName("input").length; i++) {
          document.getElementsByTagName("input")[i].remove();
        }
        for (i = 0; i < document.getElementsByTagName("select").length; i++) {
          document.getElementsByTagName("select")[i].remove();
        }
        for (i = 0; i < document.getElementsByTagName("option").length; i++) {
          document.getElementsByTagName("option")[i].remove();
        }
      }
    })
    .catch((error) => {
      console.error('Error in GitHub API request:\n', error);
      for (i = 0; i < document.getElementsByTagName("label").length; i++) {
        document.getElementsByTagName("label")[i].remove();
      }
      for (i = 0; i < document.getElementsByTagName("input").length; i++) {
        document.getElementsByTagName("input")[i].remove();
      }
      for (i = 0; i < document.getElementsByTagName("select").length; i++) {
        document.getElementsByTagName("select")[i].remove();
      }
      for (i = 0; i < document.getElementsByTagName("option").length; i++) {
        document.getElementsByTagName("option")[i].remove();
      }
    });
  };
</script>
<script>
var currentCollapsible = document.getElementsByClassName("collapsible");

for (var i = 0; i < currentCollapsible.length; i++) {
  currentCollapsible[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
