---
---
<script>
  if(document.getElementById('sign-in-status').textContent === 'Signed out')
  {
    window.location.replace("{{ site.url }}/login");
  }
</script>
<script>
  window.onload = function()
  {
    fetch('https://api.github.com/repos/MadeByEmil/deck/contents/_channels/' + JSON.parse(document.getElementById('account-details').textContent).providerData[0].uid + '.md', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    }
    })
    .then((response) => {
      if(response.ok)
      {
        console.log('Channel found:\n', response.json);
        document.getElementById('create-channel').remove();
      }
      else {
        document.getElementById('source').remove();
        document.getElementById('mute').remove();
        document.getElementById('autoplay').remove();
      }
    })
    .catch((error) => {
      console.error('Error in GitHub API request:\n', error);
      document.getElementById('source').remove();
      document.getElementById('mute').remove();
      document.getElementById('autoplay').remove();
    });
  };
</script>
<script>
var currentCollapsible = document.getElementsByClassName("collapsible");

for (var i = 0; i < currentCollapsible.length; i++) {
  currentCollapsible[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
