---
---
<script>
  window.setTimeout(showPage, 800);
  function showPage()
  {
    if(document.getElementById('sign-in-status').textContent === 'Signed out')
    {
      window.location.replace("{{ site.url }}/login");
    }
    else {
      document.getElementById('cover').remove();
    }
  }
</script>
<script>
  window.setTimeout(getUsername, 750);
  function getUsername()
  {
    document.getElementById('username').textContent = JSON.parse(document.getElementById('account-details').textContent).providerData[0].displayName;
    document.getElementById('username').style.visibility = 'visible';
    document.getElementById('account-image').style.visibility = 'visible';
    document.getElementById('account-header').style.visibility = 'visible';
  }
</script>
<script>
  window.setTimeout(checkChannel, 750);
  function checkChannel()
  {
    fetch('https://api.github.com/repos/MadeByEmil/deck/contents/_channels/' + JSON.parse(document.getElementById('account-details').textContent).providerData[0].uid + '.md', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    }
    })
    .then((response) => {
      if(response.ok)
      {
        console.log('Channel found:\n', response.json());
        document.getElementById('channel-settings').style.visibility = 'visible';
        document.getElementById('delete-channel').style.visibility = 'visible';
        document.getElementById('settings-header').style.visibility = 'visible';
        document.getElementById('create-channel').remove();
      }
      else {
        document.getElementById('create-channel').style.visibility = 'visible';
        document.getElementById('channel-settings').remove();
        document.getElementById('delete-channel').remove();
        document.getElementById('settings-header').remove();
      }
    })
    .catch((error) => {
      console.error('Error in GitHub API request:\n', error);
      document.getElementById('channel-settings').remove();
      document.getElementById('create-channel').remove();
      document.getElementById('delete-channel').remove();
      document.getElementById('settings-header').remove();
    });
  };
</script>
<script>
var currentCollapsible = document.getElementsByClassName("collapsible");

for (var i = 0; i < currentCollapsible.length; i++) {
  currentCollapsible[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
