---
---
<p id="sign-in-status" style="display: none;"></p>
<p id="account-details" style="display: none;"></p>
<p id="create-channel" style="display: none;"></p>
<p id="delete-channel" style="display: none;"></p>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="{{ site.url }}/branding/regular/logo.svg" width=auto height=100%></img></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ site.url }}">Home</a></li>
      <li><a href="#">Browse</a></li>
      <li><a href="#">Subscriptions</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <a id="sign-in" href="" class="btn btn-danger navbar-btn" style="margin-right: 8px"></a>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img id="account-image" src=""></img>
        <p class="small" id="account-name"></p>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><p class="small" id="account-email" style="font-size: 12px; line-height: normal; padding: 3px 20px"></p></li>
          <li><a href="{{ site.url }}/me">Me</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
