---
---
<!-- HLS video --->
<script src="https://cdn.jsdelivr.net/npm/p2p-media-loader-core@latest/build/p2p-media-loader-core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p2p-media-loader-hlsjs@latest/build/p2p-media-loader-hlsjs.min.js"></script>

<!-- MPEG-DASH video -->
<script src="https://cdn.jsdelivr.net/npm/p2p-media-loader-core@latest/build/p2p-media-loader-core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p2p-media-loader-shaka@latest/build/p2p-media-loader-shaka.min.js"></script>

<!-- Clappr player -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>

<div class = "player" id = "player">
  <script>
  var engine = new p2pml.hlsjs.Engine();
  var player = new Clappr.Player({
    parentId: "#player",
    source: "{{ page.source }}",
    mute: {{ page.mute }},
    autoPlay: {{ page.autoplay }},
    playback: {
      hlsjsConfig: {
        liveSyncDurationCount: 7,
        loader: engine.createLoaderClass()
      }
    }
  });
  p2pml.hlsjs.initClapprPlayer(player);
  </script>
</div>
